@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Edu+SA+Beginner&family=Raleway:wght@300&display=swap');

body{
    font-family: 'Cormorant SC', serif;
    font-weight: 300;
    color:#0b0d0f
    
}

/*header and headerimg*/
.head{
    color: #fff;
    font-weight: bolder;
    padding: 20px;
    padding-left: 80px;
    background:#8db0cf
}


.header img {
    display: flex;
    width: 100%;
    margin-top: 20%;
   
}

.header h1 {
    text-align: center;
    font-family: 'Cormorant SC', serif;
    color: #0b0d0f
}


/*menu links*/

.menu
{
    overflow: hidden;
    position: absolute; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
    height: 100%;/* Full width */
    
      
    
    


}

.menu li {
    float: left;
    display: block;
    color:#0b0d0f;
    
    padding: 14px 16px;
    text-decoration: none;
    font-size:large;  
    font-family: 'Times New Roman', Times, serif; 
}

/*about section*/

.about {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    }

#cover-text {
    color:#8db0cf
    } 

.textstyle 
{
font-family: Georgia, 'Times New Roman', Times, serif;
}
    
    
 /*heading for about*/





   
   /*fun to do*/





.center-ab{
    
    margin: 0;
}







/*waterfun*/

#bold {color: #177ed7;}

/*sightseeing*/

#light {
    color: #8d3793;}

/*buisness inquris*/

.cont {
    width: 70%;
    height: 100%;
    padding: 30px;
    border-style:solid;
    border-color: #8db0cf;
    border-width: 3px;
    margin: auto;
}




.open {
    font-family: 'Times New Roman', Times, serif;
    background-color: #a9bfd2;
    width: 70%;
    padding: 1em;
    text-align: center;
    margin-left: 25%;
    
    
}

footer {
    background-color: #8db0cf;
    padding: 1em;
    text-align: center;
}

.block {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}



@media screen and (max-width: 1200px) {

    #fun-to-do {
        width: 65%;
        text-align: center;
        
    }
    #right-ab{
        text-align: center;
        width: 100%;
        
    }
    #left-ab{
        margin-left: 25%;
        width: 100%;
    }

   
  
  
    .cont {
        display: none;
    }
   

}

    @media screen and (max-width: 950px) {


       
        

    #left-ab-heading{
        width: 80%;
        text-align: center;
        padding-left: 50%;
        
            
    }
    #right-ab-heading {
            text-align: center;
            padding-left: 50%;
            width: 70%;}

    .cont {
        display: none;
    }
   


    
    

    

   
    
}