@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Edu+SA+Beginner&family=Raleway:wght@300&display=swap');

body{
    font-family: 'Cormorant SC', serif;
    font-weight: 300;
    color:#0b0d0f
    
}
/*about box and fun header*/
#box2{
    background-color: #a3b5c4;
    width: 50%;
    padding: 1em;
    text-align: center;
    margin: auto;
}

.header img {
    float: left;
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;
}

.header h1 {
    float: right;
    margin-top: 30%;
    margin-right: 5%;
}

h1{ 
    font-family: 'Cormorant SC', serif;
    text-transform:uppercase;
    letter-spacing: 3px;
    color: #0b0d0f
}


/*Image first; code from loverunning project*/

#imagejason {
    float: left;
   }

/*menu links*/

.menu
{
    font-size: 110%;
    letter-spacing: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 10%;
    margin-top: 5%;
}

.about {
    height: 100%;
    width: 100%;
    overflow: hidden;
    }

#cover-text
{
color:#8db0cf
} 

.textstyle
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    
    
   



   
   /*fun to do*/

#fun-to-do {
    text-align: center;
    margin-bottom: 10%;
    
    
}



#left-ab
{
    width: 33%;
    float: left;
}

#right-ab
{
    width: 33%;
    float: right;
}

#center-ab{
    
    margin: 0;
}

#left-ab-heading {
    font-family:'Times New Roman', Times, serif;
    width: 60%;
    float: right;
    line-height: 100%;
    clear: both;
    
}

        

#right-ab-heading{
        font-family: 'Times New Roman', Times, serif;
        width: 60%;
        float: left;
        line-height: 100%;
        clear: both;
        
}
/*heading for fun*/

#welcome {
    text-align: center;
    margin: 50px 0;
    font-size: 50px;
}

/*waterfun*/

#bold {color: #177ed7;}

/*sightseeing*/

#light
{color: #8d3793;}

/*picture for fun*/

#cont{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style:solid;
    border-color: #ccc;
    border-width: 1px;
    margin: auto;}

#cov{
    background: url('../images/brac.jpg') no-repeat center;
    height: 100%;
    
    }


    

.open {
    font-family: 'Times New Roman', Times, serif;
    background-color: #a9bfd2;
    width: 50%;
    padding: 1em;
    text-align: center;
    margin-left: 25%;
    
}

footer {
    background-color: #8db0cf;
    padding: 1em;
    text-align: center;
}



@media screen and (max-width: 1200px) {

    #fun-to-do {
        width: 65%;
        height: 1200px;
        
    }
    #right-ab{
        text-align: center;
        width: 100%;
        
    }
    #left-ab{
        text-align: center;
        width: 100%;

    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #center-ab {
display: none;
    }

    hr {
        display: none;
    }

  
    

}

    @media screen and (max-width: 950px) {

        .menu {
            margin-right: 10%;
            text-size-adjust: 10%;
           
        }
       
        

    #left-ab-heading{
        width: 80%;
        text-align: center;
        padding-left: 50%;
        
            
           }
    #right-ab-heading {
            text-align: center;
            padding-left: 50%;
            width: 70%;}
    #cov
    {display: none;}

    #box
    {margin-top: 90%;}
   
    #imagejason
    {
        width:100% ;
        padding: 0px 0px 30px 30px;
    }
        
    

    #light, #bold{
        width:100%;
    }

    h1{
        display: none;}
    }





  


 